@layout.main({ title : "connection"})
  @slot('main')
    <section
      class="min-h-screen flex items-center justify-center px-4 bg-gradient-to-tr from-pink-200 via-purple-200 to-blue-200"
    >
      <h1>
        Page d'accueil
      </h1>
    </section>
  @endslot
@end
